*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Semi Bold"), local("Inter-SemiBold"), url("../fonts/inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/inter/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter Black"), local("Inter-Black"), url("../fonts/inter/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --default-font: 'Inter';
  --c-text: #212121;
  --c-text-60: rgba(33,33,33,.6);
  --c-blue: #0047FF;
  --c-red: #FF0000;
  --c-gray: #8D8D8D;
  --c-gray-field: #757575;
  --c-black-80: rgba(0, 0, 0, .8);
  --c-black-70: rgba(0,0,0,.7);
  --c-black-60: rgba(0,0,0,.6);
  --c-black-50: rgba(0, 0, 0, .5);
  --c-black-40: rgba(0, 0, 0, .4);
  --c-black-30: rgba(0, 0, 0, .3);
  --c-black-20: rgba(0, 0, 0, .2);
  --c-black-10: rgba(0, 0, 0, .1);
}

* {
  outline: none;
  border: 0;
}

html, body {
  position: relative;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

a, a span, input, button, button span, select, i, i::before {
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

i {
  vertical-align: middle;
}

input, button {
  font-family: var(--default-font);
  font-size: 0.875rem;
}

b {
  font-weight: 500;
}

li {
  list-style: none;
}

body {
  font-size: 0.875rem;
  font-family: var(--default-font);
  min-width: 320px;
  color: #000000;
  -webkit-overflow-scrolling: touch;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.w-8\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.w-7\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.w-6\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.w-5\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.w-4\/12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.items-start {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.wrap-col-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 25px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 25px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

.header__top {
  background-color: #f3f3f3;
  height: 2.5rem;
  padding: 0.625rem 0 0.8125rem 0;
}

.header__top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-change i {
  font-size: 1rem;
  margin-right: 0.15625rem;
}

.header__top-change .text {
  font-weight: 500;
}

.header__top-text {
  margin-right: auto;
  margin-left: 3.6875rem;
}

.header__top-text p {
  font-weight: 500;
  font-size: 0.75rem;
}

.header__top-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header__top-nav ul li {
  margin-right: 2.375rem;
}

.header__top-nav ul li:last-child {
  margin-right: 0;
}

.header__top-nav ul li a {
  color: var(--c-black-50);
}

.header__top-nav ul li a:hover {
  color: black;
}

.header__center {
  padding-top: 0.5625rem;
  padding-bottom: 1.78125rem;
}

.header__center .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__center-logo {
  margin-right: 2.6875rem;
  height: 3.71875rem;
}

.header__center-logo a {
  display: block;
}

.header__center-search {
  width: 100%;
  max-width: 23.3125rem;
  margin-right: 4.1875rem;
}

.header__center-search .form_search {
  position: relative;
}

.header__center-search .form_search-field {
  width: 100%;
  height: 2.6875rem;
  border-radius: 0.125rem;
  border: solid 0.03125rem var(--c-black-10);
  padding: 0.8125rem 2.375rem 0.8125rem 1.4375rem;
  background-color: white;
  color: var(--c-gray-field);
}

.header__center-search .form_search-field::-webkit-input-placeholder {
  color: var(--c-gray-field);
}

.header__center-search .form_search-field:-moz-placeholder {
  color: var(--c-gray-field);
}

.header__center-search .form_search-field::-moz-placeholder {
  color: var(--c-gray-field);
}

.header__center-search .form_search-field:-ms-input-placeholder {
  color: var(--c-gray-field);
}

.header__center-search .form_search-field:focus {
  border-color: black;
}

.header__center-search .form_search-button {
  position: absolute;
  top: 50%;
  right: 0.6875rem;
  margin-top: -0.6875rem;
}

.header__center-search .form_search-button:hover {
  opacity: .8;
}

.header__center-search .form_search-button:active {
  opacity: 1;
}

.header__center-search .form_search-button i {
  font-size: 0.9375rem;
}

.header__center-contact {
  margin-right: 4.0625rem;
  padding-bottom: 0.3125rem;
}

.header__center-contact ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__center-contact ul li {
  margin-bottom: 0.4375rem;
  color: var(--c-black-60);
  font-size: 0.75rem;
}

.header__center-contact ul li:last-child {
  margin-bottom: 0;
}

.header__center-contact ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center-contact ul li a:hover {
  color: black;
}

.header__center-contact ul li a:hover i::before {
  color: black;
}

.header__center-contact ul li a i {
  margin-right: 0.4375rem;
  font-size: 0.625rem;
  margin-top: 0.125rem;
}

.header__center-contact ul li a i::before {
  color: var(--c-black-60);
}

.header__center-phone {
  margin-right: 1.25rem;
}

.header__center-phone ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__center-phone ul li {
  margin-bottom: 0.5rem;
}

.header__center-phone ul li:last-child {
  margin-bottom: 0;
}

.header__center-phone ul li a {
  font-size: 1rem;
  font-weight: 600;
}

.header__center-phone ul li a:hover {
  color: var(--c-red);
}

.header__center-button .button-red-border {
  padding: 0.90625rem 1.1875rem;
}

.header__nav {
  border-top: 0.03125rem solid #D2D2D2;
}

.header__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.header__nav ul > li {
  margin-right: 2rem;
}

.header__nav ul > li:last-child {
  margin-right: 0;
}

.header__nav ul > li:last-child a {
  padding-right: 0;
}

.header__nav ul > li:first-child {
  margin-right: auto;
}

.header__nav ul > li:first-child a {
  padding-left: 0;
}

.header__nav ul > li > a {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9375rem 1rem;
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul > li > a:hover {
  color: var(--c-red);
}

.header__nav ul > li > a .burger {
  margin-right: 0.5rem;
}

.header__nav ul > li > a i {
  font-size: 0.375rem;
  margin-left: 0.25rem;
}

.header__nav ul .drop-menu {
  position: relative;
}

.header__nav ul .drop-menu-content {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  margin-top: 0.5625rem;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.3125rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 0;
}

.header__nav ul .drop-menu-content li {
  width: 100%;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  margin: 0;
}

.header__nav ul .drop-menu-content li:hover {
  background-color: rgba(196, 196, 196, 0.2);
}

.header__nav ul .drop-menu-content li:hover a {
  color: black;
}

.header__nav ul .drop-menu-content li a {
  padding: 0.9375rem 1.25rem;
  color: var(--c-black-50);
  font-size: 0.875rem;
  white-space: nowrap;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__nav ul .drop-menu.active > a {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--c-red);
}

.header__nav ul .drop-menu.active > a i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__nav ul .drop-menu.active .drop-menu-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__nav .burger {
  width: 0.75rem;
  height: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav .burger .line {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: var(--c-red);
}

.sect_slider {
  margin-bottom: 0.875rem;
}

.sect_slider .swiper-container {
  border-radius: 0.625rem;
}

.sect_slider .swiper-container .swiper-pagination {
  position: absolute;
  width: auto;
  bottom: 2.5rem;
  left: 7.8125rem;
}

.sect_slider .swiper-container .swiper-pagination-bullet {
  opacity: 1;
  width: 4.25rem !important;
  border-radius: 0.125rem !important;
  height: 0.125rem !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  margin: 0 0.625rem 0 0 !important;
}

.sect_slider .swiper-container .swiper-pagination-bullet:last-child {
  margin: 0;
}

.sect_slider .swiper-container .swiper-pagination-bullet-active {
  background-color: white !important;
}

.sect_slider .swiper-container .swiper-nav-prev,
.sect_slider .swiper-container .swiper-nav-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -0.5625rem;
}

.sect_slider .swiper-container .swiper-nav-prev {
  left: 1.125rem;
}

.sect_slider .swiper-container .swiper-nav-next {
  right: 1.125rem;
}

.sect_slider__item {
  position: relative;
  height: 24.75rem;
  padding: 5.125rem 7.8125rem;
  border-radius: 0.625rem;
  background: -o-linear-gradient(0.43deg, rgba(0, 0, 0, 0.63) 11.27%, rgba(125, 125, 125, 0.24) 99.68%);
  background: linear-gradient(89.57deg, rgba(0, 0, 0, 0.63) 11.27%, rgba(125, 125, 125, 0.24) 99.68%);
}

.sect_slider__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.sect_slider__item .title-32 {
  color: white;
}

.sect_slider__item .text, .sect_slider__item .button-gray {
  margin-top: 0.875rem;
}

.sect_slider__item .text {
  max-width: 23.75rem;
  font-weight: 500;
  line-height: 140%;
  color: white;
}

.swiper-nav-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.swiper-nav-wrap .swiper-nav-prev {
  margin-right: 0.6875rem;
}

.swiper-nav-prev,
.swiper-nav-next {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  border: solid 0.03125rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 25px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 25px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-nav-prev i,
.swiper-nav-next i {
  font-size: 0.6875rem;
}

.swiper-nav-next i {
  margin-left: 0.1875rem;
}

.swiper-button-disabled i::before {
  color: #595959;
  opacity: .3;
}

.swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  width: 2.3125rem !important;
  height: 0.125rem !important;
  border-radius: 0.125rem !important;
  background-color: var(--c-black-50) !important;
  margin-right: 0.75rem;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.advantages {
  margin-bottom: 3.75rem;
}

.advantages__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  width: calc((100% - 4.125rem) / 4);
  margin-right: 1.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item:last-child {
  margin-right: 0;
}

.advantages__item img {
  margin-right: 0.625rem;
  width: 1.875rem;
}

.advantages__item i {
  margin-right: 0.625rem;
  font-size: 1.875rem;
}

.advantages__item p {
  font-size: 0.75rem;
}

.cat_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 5.5rem;
}

.cat_items__block {
  width: calc((100% - 3rem) / 3);
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.3125rem;
  overflow: hidden;
  border: 0.03125rem solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.cat_items__block:hover {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cat_items__block:hover .text p {
  color: var(--c-red);
}

.cat_items__block:nth-child(3n) {
  margin-right: 0;
}

.cat_items__block img {
  width: 100%;
  height: 12.6875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.cat_items__block .text {
  padding: 1rem 1.5rem;
  background-color: white;
}

.cat_items__block .text p {
  font-size: 1rem;
  font-weight: 500;
  color: #424242;
}

.section-popular {
  margin-bottom: 5.625rem;
}

.section-popular .item_button_next {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--c-black-50);
  line-height: 119%;
  border-bottom: 0.03125rem dotted var(--c-black-50);
}

.section-popular .item_button_next:hover {
  color: black;
  border-color: black;
}

.tab_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab_wrap__nav {
  margin-bottom: 1.5rem;
}

.tab_wrap__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-bottom: 0.125rem solid #E1E1E1;
}

.tab_wrap__nav ul li {
  cursor: pointer;
  margin-right: 2.5rem;
}

.tab_wrap__nav ul li:last-child {
  margin-right: 0;
}

.tab_wrap__nav ul li a {
  pointer-events: none;
  position: relative;
  font-weight: 500;
  color: var(--c-black-50);
  padding: 0.875rem 0;
  display: block;
}

.tab_wrap__nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: var(--c-red);
  opacity: 0;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.tab_wrap__nav ul li a:hover {
  color: black;
}

.tab_wrap__nav ul li a:hover::after {
  opacity: 1;
}

.tab_wrap__nav ul li.active a {
  color: black;
}

.tab_wrap__nav ul li.active a::after {
  opacity: 1;
}

.tab_wrap__tabs .tab_content {
  display: none;
}

.tab_wrap__tabs .tab_content.active {
  display: block;
}

.group-items-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 4.375rem;
}

.group-items-3 .item_product {
  width: calc((100% - 3rem) / 3);
  margin-right: 1.5rem;
}

.group-items-3 .item_product:nth-child(3n) {
  margin-right: 0;
}

.item_product {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.item_product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.3125rem;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  z-index: -1;
}

.item_product:hover::before {
  width: calc(100% + 1.250rem);
  height: calc(100% + 1.250rem);
  margin: -0.625rem;
  padding: 0.625rem;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item_product:hover .item_product__top_favorite {
  opacity: 1;
  pointer-events: visible;
}

.item_product:hover .button-gray-border {
  border-color: var(--c-red);
  background-color: var(--c-red);
}

.item_product:hover .button-gray-border span {
  color: white;
}

.item_product:hover .button-default {
  color: black;
  border-color: black;
}

.item_product__top {
  position: relative;
  height: 11.25rem;
  margin-bottom: 0.4375rem;
}

.item_product__top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item_product__top_favorite {
  position: absolute;
  top: 0.6875rem;
  right: 0.5625rem;
  z-index: 10;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  opacity: 0;
  pointer-events: none;
}

.item_product__top_favorite:hover i::before {
  color: var(--c-red);
}

.item_product__top_favorite i {
  font-size: 1.125rem;
}

.item_product__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item_product__bottom_first {
  position: relative;
  color: var(--c-gray);
  font-size: 0.625rem;
  line-height: 119%;
  margin-bottom: 0.125rem;
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline;
}

.item_product__bottom_first::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -0.0625rem;
  left: 0;
  height: 0.0625rem;
  width: 100%;
  background-color: var(--c-gray);
}

.item_product__bottom_price-text {
  font-size: 0.75rem;
  line-height: 119%;
  font-weight: 500;
  color: var(--c-gray);
  margin-bottom: 1.5625rem;
}

.item_product__bottom_price {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 119%;
  margin-bottom: 0.625rem;
}

.item_product__bottom_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.875rem;
}

.item_product__bottom_list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 0.625rem;
}

.item_product__bottom_list li:last-child {
  margin-bottom: 0;
}

.item_product__bottom_list li b, .item_product__bottom_list li span {
  font-size: 0.625rem;
  line-height: 119%;
}

.item_product__bottom_list li b {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 7rem;
      -ms-flex: 0 0 7rem;
          flex: 0 0 7rem;
  max-width: 7rem;
}

.item_product__bottom_list li span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item_product__bottom-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_product__bottom-buttons .button-gray-border {
  margin-right: 1.4375rem;
}

.item_product__bottom-buttons .button-default {
  font-size: 0.625rem;
  line-height: 148%;
  color: var(--c-black-50);
  border-bottom: 0.0625rem solid var(--c-black-50);
}

.section-about {
  height: 31.75rem;
  margin-bottom: 6.5rem;
  position: relative;
  background: -o-linear-gradient(0.43deg, rgba(0, 0, 0, 0.63) 0.41%, rgba(46, 40, 40, 0.74) 99.68%);
  background: linear-gradient(89.57deg, rgba(0, 0, 0, 0.63) 0.41%, rgba(46, 40, 40, 0.74) 99.68%);
  padding: 2.1875rem 5.375rem 0 6rem;
}

.section-about__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-about__content {
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 2.25rem 3rem;
}

.section-about__content img {
  margin-bottom: 4.5625rem;
}

.section-about__content .title-24 {
  margin-bottom: 0.625rem;
  color: white;
}

.section-about__content p {
  line-height: 140%;
  color: white;
  margin-bottom: 1.75rem;
}

.section-about__content p:last-of-type {
  margin-bottom: 0;
}

.section-reviews {
  margin-bottom: 4rem;
}

.section-reviews__control {
  position: relative;
  margin-top: 1.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.75rem;
}

.section-reviews__control .swiper-nav-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-reviews__control .swiper-nav-prev,
.section-reviews__control .swiper-nav-next {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-reviews__control .swiper-pagination {
  position: relative;
}

.review_item {
  border-radius: 0.3125rem;
  border: 0.03125rem solid rgba(0, 0, 0, 0.2);
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 17.625rem;
  padding: 0.875rem 1.25rem 1.25rem 1.4375rem;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.review_item:hover {
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.07), 0px 4px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.07), 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.review_item:hover .review_item__image i::before {
  color: #FF7B7B;
}

.review_item:hover .review_item__text {
  color: #212121;
}

.review_item:hover .review_item__author {
  color: black;
}

.review_item__image {
  position: relative;
  margin-bottom: 1rem;
}

.review_item__image img {
  max-width: 6.25rem;
  border-radius: 0.3125rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.review_item__image i {
  font-size: 1.875rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

.review_item__image i::before {
  color: #ECECEC;
}

.review_item__text, .review_item__author {
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.review_item__text {
  font-size: 0.8125rem;
  line-height: 162%;
  color: rgba(33, 33, 33, 0.5);
  max-width: 14.5625rem;
}

.review_item__author {
  margin-top: auto;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--c-black-60);
}

.section-questions {
  margin-bottom: 3.375rem;
}

.accordion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion__item {
  border-top: 0.0625rem dashed var(--c-black-20);
  border-bottom: 0.0625rem dashed var(--c-black-20);
}

.accordion__item-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  cursor: pointer;
}

.accordion__item-header .title {
  pointer-events: none;
  font-size: 1rem;
  font-weight: 600;
  line-height: 112%;
}

.accordion__item-header .control {
  pointer-events: none;
  position: relative;
  width: 1.4375rem;
  height: 1.4375rem;
}

.accordion__item-header .control .line {
  position: absolute;
  background-color: var(--c-red);
  border-radius: 0.125rem;
  display: block;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.accordion__item-header .control .line:first-child {
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.125rem;
  margin-top: -0.0625rem;
}

.accordion__item-header .control .line:last-child {
  top: 0;
  left: 50%;
  width: 0.09813rem;
  height: 100%;
}

.accordion__item-text {
  padding-bottom: 0.875rem;
  display: none;
}

.accordion__item-text p {
  font-size: 1rem;
  line-height: 140%;
  color: var(--c-black-70);
}

.accordion__item.active .accordion__item-header .control .line:first-child {
  background-color: black;
}

.accordion__item.active .accordion__item-header .control .line:last-child {
  left: 100%;
  opacity: 0;
}

.accordion__item.active .accordion__item-text {
  display: block;
}

.section-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message_form {
  border-radius: 0.3125rem;
  width: 30.1875rem;
  background-color: white;
  padding: 1.125rem 1.5rem;
  border: 0.03125rem solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message_form__header {
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message_form__header .title-24 {
  font-weight: bold;
}

.message_form__header p {
  margin-top: 1.125rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 165%;
  color: var(--c-black-50);
}

.message_form__content .field-attach {
  margin-bottom: 1.125rem;
}

.message_form__content .field-checked {
  margin-bottom: 1.5rem;
}

.message_form__content .field-checked .check {
  position: relative;
  width: 0.8125rem !important;
  height: 0.8125rem !important;
}

.message_form__content .field-checked .check::before {
  position: absolute;
  top: -0.125rem;
  left: 0;
  font-size: 0.75rem !important;
}

.message_form__content .button-red-border {
  width: 100%;
  padding: 1.4375rem 0;
}

.message_form__content .button-red-border span {
  font-size: 0.875rem;
  font-weight: 500;
}

.aside {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17.625rem;
      -ms-flex: 0 0 17.625rem;
          flex: 0 0 17.625rem;
  max-width: 17.625rem;
  margin-right: 1.5rem;
}

.aside .icon-furniture {
  font-size: 1.5rem !important;
  margin-left: -0.1875rem;
}

.aside > .title {
  margin-bottom: 1.875rem;
  font-weight: bold;
}

.aside__item {
  border-bottom: 0.03125rem solid rgba(0, 0, 0, 0.12);
}

.aside__item:first-child .aside__item-header {
  padding-top: 0;
}

.aside__item-header {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.aside__item-header .text {
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__item-header .text .image {
  width: 2.375rem;
  text-align: left;
}

.aside__item-header .text i {
  font-size: 1.1875rem;
  margin-right: 1rem;
}

.aside__item-header .icon-arrow-bottom {
  pointer-events: none;
  font-size: 0.375rem;
}

.aside__item-header .icon-arrow-bottom::before {
  color: #C4C4C4;
}

.aside__item-header.active .icon-arrow-bottom {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.aside__item-header.active .icon-arrow-bottom::before {
  color: var(--c-red);
}

.aside__item-content {
  padding-left: 2.375rem;
  padding-bottom: 1.5625rem;
  display: none;
}

.aside__item-content .item {
  margin-bottom: 0.8125rem;
}

.aside__item-content .item .field-checked.type-circle:first-child {
  padding-top: 0.625rem;
}

.aside__item-content .item:last-child {
  margin-bottom: 0;
}

.aside__item-content .item:first-child .title {
  padding-top: 0;
}

.aside__item-content .item .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.625rem;
  cursor: pointer;
  padding-top: 0.875rem;
}

.aside__item-content .item .title b {
  pointer-events: none;
  font-size: 0.75rem;
}

.aside__item-content .item .title .icon-arrow-bottom {
  pointer-events: none;
  font-size: 0.375rem;
}

.aside__item-content .item .title .icon-arrow-bottom::before {
  color: #C4C4C4;
}

.aside__item-content .item .title.active .icon-arrow-bottom {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.aside__item-content .item .title.active .icon-arrow-bottom::before {
  color: var(--c-red);
}

.aside__item-content .item .content {
  display: none;
}

.wg-favorite {
  position: fixed;
  top: 50%;
  margin-top: -1.4375rem;
  right: -1.9375rem;
  width: 5.5rem;
  height: 2.9375rem;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  background-color: white;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 20;
  padding-left: 0.875rem;
}

.wg-favorite:hover {
  right: 0;
}

.wg-favorite i {
  font-size: 1.125rem;
  margin-right: 0.3125rem;
}

.wg-favorite i::before {
  color: var(--c-red);
}

.wg-favorite span {
  font-size: 0.75rem;
}

.button-red-border {
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--c-red);
  display: inline-block;
}

.button-red-border:hover {
  background-color: var(--c-red);
}

.button-red-border:hover span {
  color: white;
}

.button-red-border span {
  color: var(--c-red);
  font-size: 0.75rem;
}

.button-gray-border {
  border-radius: 0.0625rem;
  background-color: white;
  padding: 0.5rem 0.875rem;
  border: 0.03125rem solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.button-gray-border span {
  font-size: 0.625rem;
  line-height: 148%;
  color: black;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.button-gray {
  border-radius: 0.0625rem;
  background: rgba(160, 160, 160, 0.4);
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.04), 0px 4px 25px rgba(0, 0, 0, 0.05), inset 0px 1px 2px rgba(254, 254, 254, 0.22);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.04), 0px 4px 25px rgba(0, 0, 0, 0.05), inset 0px 1px 2px rgba(254, 254, 254, 0.22);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 0.59375rem 3.125rem;
  display: inline-block;
}

.button-gray span {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 148%;
  color: white;
}

.title-32 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 126%;
}

.title-24 {
  font-size: 1.5rem;
  font-weight: 600;
}

.field-checked {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.625rem;
}

.field-checked:last-child {
  margin-bottom: 0;
}

.field-checked input {
  display: none;
}

.field-checked .check {
  position: relative;
}

.field-checked .text {
  font-size: 0.75rem;
}

.field-checked.type-square input:checked ~ .check {
  border-color: var(--c-black-80);
}

.field-checked.type-square input:checked ~ .check::before {
  content: "\e903";
  font-family: 'icons';
  color: var(--c-red);
  font-size: 0.4375rem;
}

.field-checked.type-square input:checked ~ .text {
  color: var(--c-black-80);
}

.field-checked.type-square .check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0.125rem;
  border: 0.0625rem solid var(--c-black-50);
}

.field-checked.type-square .text {
  color: var(--c-black-50);
}

.field-checked.type-circle input:checked ~ .check {
  background-color: black;
}

.field-checked.type-circle input:checked ~ .text {
  color: black;
}

.field-checked.type-circle .check {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: var(--c-black-50);
  margin-right: 0.375rem;
}

.field-checked.type-circle .text {
  color: var(--c-black-50);
}

.main-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55.875rem;
      -ms-flex: 0 0 55.875rem;
          flex: 0 0 55.875rem;
  max-width: 55.875rem;
}

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.6875rem;
}

.section-header .title-24, .section-header .title-32 {
  margin-bottom: 1.125rem;
}

.section-header .flex {
  margin-bottom: 1.125rem;
}

.section-header .flex .title-24, .section-header .flex .title-32 {
  margin-bottom: 0;
}

.section-header .flex a {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.section-header a {
  color: var(--c-black-50);
  font-size: 0.75rem;
  font-weight: 500;
}

.section-header a:hover {
  color: black;
}

.section-header p {
  font-size: 1rem;
  color: var(--c-black-30);
}

.field-set {
  position: relative;
  margin-bottom: 1.125rem;
}

.field-set:last-child {
  margin-bottom: 0;
}

.field {
  border-radius: 0.3125rem;
  height: 3.125rem;
  width: 100%;
  padding: 0 1.25rem;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 0.75rem;
  font-weight: 500;
  border: 0.03125rem solid rgba(0, 0, 0, 0.2);
}

.field:focus {
  border-color: black;
}

.field::-webkit-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.field:-moz-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.field::-moz-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.field:-ms-input-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

textarea.field {
  padding: 0.875rem 1.25rem;
  min-height: 6.875rem;
  max-height: 12.5rem;
  resize: vertical;
}

.field-attach {
  width: 100%;
  cursor: pointer;
  height: 3.125rem;
  border-radius: 0.3125rem;
  border: 0.03125rem dashed rgba(0, 0, 0, 0.5);
  border-width: 0.0625rem;
  padding: 1.125rem 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.field-attach:hover span {
  text-decoration: none;
}

.field-attach input {
  display: none;
}

.field-attach i {
  font-size: 0.75rem;
  margin-right: 0.625rem;
}

.field-attach span {
  color: var(--c-blue);
  font-size: 0.625rem;
  font-weight: 500;
  text-decoration: underline;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.footer {
  position: relative;
  margin-top: 4.6875rem;
}

.footer__arrow-top {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -1.5625rem;
  left: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 0px rgba(174, 174, 174, 0.07);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 0px rgba(174, 174, 174, 0.07);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.footer__arrow-top:hover {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4), 0px 0px 10px 0px rgba(174, 174, 174, 0.25);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4), 0px 0px 10px 0px rgba(174, 174, 174, 0.25);
}

.footer__arrow-top i {
  font-size: 1.4375rem;
}

.footer__top {
  border-top: 0.03125rem solid #D2D2D2;
}

.footer__top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.625rem;
  padding-bottom: 3.25rem;
  padding-right: 2.1875rem;
  border-right: 0.03125rem solid #D2D2D2;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 29.125rem;
      -ms-flex: 0 0 29.125rem;
          flex: 0 0 29.125rem;
  max-width: 29.125rem;
}

.footer__top-left .logo {
  margin-bottom: 1.5625rem;
}

.footer__top-left .time {
  margin-bottom: 1.875rem;
  font-weight: 600;
}

.footer__top-left .mail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.125rem;
}

.footer__top-left .mail:hover {
  color: var(--c-red);
}

.footer__top-left .mail i {
  margin-right: 0.4375rem;
}

.footer__top-left .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.125rem;
}

.footer__top-left .links:last-of-type {
  margin-bottom: 0;
}

.footer__top-left .links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top-left .links ul li {
  margin-bottom: 0.5625rem;
}

.footer__top-left .links ul li:last-child {
  margin-bottom: 0;
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline;
}

.footer__top-left .links ul li:last-child a {
  font-size: 0.625rem;
  font-weight: 500;
  color: var(--c-black-50);
  border-bottom: 0.0625rem solid var(--c-black-50);
}

.footer__top-left .links ul li:last-child a:hover {
  color: black;
  border-color: black;
}

.footer__top-left .links ul li a:hover {
  color: var(--c-red);
}

.footer__top-left .links .social a {
  margin-right: 0.3125rem;
}

.footer__top-left .links .social a:hover {
  opacity: .8;
}

.footer__top-left .links .social a:last-child {
  margin-right: 0;
}

.footer__top-left .links .pay span {
  margin-bottom: 0.0625rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--c-black-50);
}

.footer__top-left .links .pay__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-left .links .pay__images img {
  margin-right: 0.875rem;
}

.footer__top-left .links .pay__images img:last-child {
  margin-right: 0;
}

.footer__top-left .links__left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12.5rem;
      -ms-flex: 0 0 12.5rem;
          flex: 0 0 12.5rem;
  max-width: 12.5rem;
}

.footer__top-left .links__right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15rem;
      -ms-flex: 0 0 15rem;
          flex: 0 0 15rem;
  max-width: 15rem;
}

.footer__top-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 4rem;
}

.footer__top-right ul {
  margin-right: 5.625rem;
}

.footer__top-right ul:last-child {
  margin-right: 0;
}

.footer__top-right ul li {
  font-size: 1rem;
  line-height: 160%;
  color: var(--c-black-60);
}

.footer__top-right ul li:first-child {
  font-weight: bold;
  color: black;
}

.footer__top-right ul li a:hover {
  color: var(--c-red);
}

.footer__bottom {
  border-top: 0.03125rem solid #D2D2D2;
}

.footer__bottom .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.1875rem;
  padding-bottom: 1.5rem;
}

.footer__bottom p, .footer__bottom a, .footer__bottom span {
  font-size: 0.75rem;
  color: var(--c-black-40);
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.footer__bottom a:hover {
  color: black;
}

.footer__bottom .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom .logo:hover span {
  color: black;
}

.footer__bottom .logo span {
  margin-right: 0.4375rem;
}
